retrieve,
    class=od,
    date={{startdate}},
    expver=1,
    levtype=sfc,
    method=1,
    number={{number}},
    origin=ecmf,
    area={{area}},
    param={{param}},
    step={{steps}},
    stream=mmsf,
    system=5,
    time=00:00:00,
    type=fc,
    target='{{output}}'